@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome jjj</h1>
=======
    <h1 class="display-4">Welcome ja</h1>
>>>>>>> 7f23152f86d0e9235b332e7998586f969ab59ad2
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
